* {
  display: block;
  margin: auto;
}

title {
  display: none;
}

.square {
  width: 200px;
  height: 200px;
}

.rectangle {
  width: 300px;
  height: 200px;
}

.circle {
  width: 200px;
  height: 200px;
}

.ellipse {
  width: 300px;
  height: 200px;
}

.animated {
  width: 300px;
  animation: slidein 3s linear 1s infinite alternate;
}

@keyframes slidein {
  from {
    transform: translate(0px);
  }
  to {
    transform: translate(100px);
  }
}
